@import "../../../assets/style/colors.scss";

$header_height: 6vh;

.header-container {
    display: flex;
    flex-direction: column;
    .header {
        box-sizing: border-box;
        height: $header_height;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #e0f7fa;
        background-color: $shadow-color;
        background-image: url("../../../assets/texture/bo-play.png");
        background-size: 20px;
        padding: 10px;
        box-shadow: 1px 1px 10px 2px #263238;
        &-img {
            height: 100%;
        }
    }
    .search-container {
        z-index: 2;

        .search {
            display: flex;

            background: white;
            align-items: center;
            padding-left: 10px;
            color: #616161;
            box-shadow: 0px 0px 10px 3px #263238;
            &-input {
                width: 100%;
                box-sizing: border-box;
                font-size: 16px;
                padding: 10px;
                outline: none;
                border: none;
                color: #616161;
            }
        }
    }
    .menu-container{
        z-index: 0;
        position: absolute;
        background-image: url("../../../assets/texture/brilliant.png");
        background-size: 10px;
        top: $header_height;
        height: (100-$header_height);
        width: 100%;
        background-color: #cfd8dc;
        .menu{
            padding: 10px;
            button{
                width: 100%;
                height: 60px;
                margin-bottom: 20px;
            }
        }
    }
}
